.botao {
    font-weight: 600;
    font-size: 16px;
    color: #212121;
    padding: 8px 16px;
    background-color: #17D9B1;
    border-radius: 8px;
    border: none;


}

.botao:hover{
    opacity: 0.8;
    cursor: pointer;
}