.lista-suspensa-form {
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #4A4949;  
    font-weight: 400;
    font-size: 16px; 
    line-height: 120%;
    color: white; 
    padding: 8px 16px ;
    
}

.lista-suspensa-form option {
    background-color: #1e1e1e; /* dark background */
    color: white;             /* white text */
}